<ion-app>
    <ion-content *ngIf="checkAuth()">
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="closeMenu()">
                            <ion-icon icon="arrow-back"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-menu-toggle>
               <ion-toolbar position="bottom">
                    <ion-item (click)="logout()">
                        <ion-icon slot="start" name="walk"></ion-icon>
                        <ion-label>
                            Sign Out
                        </ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-menu-toggle>
        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>
    </ion-content>

    <ion-content *ngIf="!checkAuth()">
        <ion-router-outlet main></ion-router-outlet>
    </ion-content>

</ion-app>
