<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.waiting">
  <ion-item *ngIf="!this.classes || classes.length === 0">
    There are no classes today!
  </ion-item>

  <ion-content *ngIf="this.classes && this.classes.length > 0" class="course-wrapper">
    <ion-item id="body-title">Classes Today:</ion-item>
    <ion-item *ngFor="let cls of classes" lines="none">
      <ion-item class="class" >
        <p class="code">{{cls.code}} {{cls.type}}</p>
        <p class="info">
          {{convert24to12(cls.startTime)}} - {{convert24to12(cls.endTime)}}<br />
          Room: {{cls.room}}
        </p>
      </ion-item>
    </ion-item>
  </ion-content>
</ion-content>

<ion-content *ngIf="this.waiting">
  <ion-item id="spinner" lines="none">
    <ion-spinner></ion-spinner>
  </ion-item>
</ion-content>