<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon icon="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{this.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Course</ion-label>
      <ion-select placeholder="Course" mode="md" interface="action-sheet" [(ngModel)]="event.code">
        <ion-select-option *ngFor="let course of this.courses">{{course.code}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Description" [(ngModel)]="event.type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Days</ion-label>
        <ion-select multiple="true" okText="Confirm" [(ngModel)]="event.day">
            <ion-select-option value="monday">Monday</ion-select-option>
            <ion-select-option value="tuesday">Tuesday</ion-select-option>
            <ion-select-option value="wednesday">Wednesday</ion-select-option>
            <ion-select-option value="thursday">Thursday</ion-select-option>
            <ion-select-option value="friday">Friday</ion-select-option>
            <ion-select-option value="saturday">Saturday</ion-select-option>
            <ion-select-option value="sunday">Sunday</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Room" [(ngModel)]="event.room"></ion-input>
    </ion-item>
    <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="!verifySubmit()">{{this.button}}</ion-button>
</ion-content>
