<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="courses-content" *ngIf="!this.waiting">
  <ion-item *ngIf="!this.courses || this.courses.length === 0" class="no-course-wrapper">
    <ion-content *ngIf="!this.courses || this.courses.length === 0" class="no-course">
      It doesn't look like there are any courses here.<br/>
      Feel free to <a (click)="presentNewCourseModal()">add a course</a>
    </ion-content>
  </ion-item>

  <ion-content *ngIf="this.courses && this.courses.length > 0" class="course-wrapper">
    <ion-item *ngFor="let course of courses" lines="none">
      <ion-item class="course">
        <p class="code">{{course.code}}</p>
        <p>{{course.details}}</p>
        <ion-icon name="create" slot="end" (click)="presentEditCourseModal(course)"></ion-icon>
        <ion-icon name="trash" slot="end" (click)="deleteCourse(course.code)"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentNewCourseModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="this.waiting">
  <ion-item id="spinner" lines="none">
    <ion-spinner></ion-spinner>
  </ion-item>
</ion-content>
