<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon icon="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{this.header}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" (ngSubmit)="handleSubmit()">
        <ion-item>
            <ion-label position="floating" color="primary">Course Code</ion-label>
            <ion-input name="code" type="text" [(ngModel)]="info.code"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" color="primary">Details</ion-label>
            <ion-textarea name="details" [(ngModel)]="info.details"></ion-textarea>
        </ion-item>

        <ion-button expand="block" class="submit-btn" type="submit" [disabled]="info.code === ''">{{this.button}}</ion-button>
    </form>
</ion-content>
