.code {
  font-weight: bold;
  margin-right: 0.5em;
}

.class {
  width: 100%;
  display: block;
}

ion-content {
  margin-top: 1em;
}

ion-item {
  margin-top: 0.2em;
}

.no-class {
  text-align: center;
}

.no-class-wrapper{
  display: block;
  margin-top: 65%;
}

.class-wrapper {
  display: block;
  width: 100%;
}