<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.waiting">
  <ion-item *ngIf="!this.classes || this.classes.length === 0" class="no-class-wrapper">
    <ion-content *ngIf="!this.classes || this.classes.length === 0" class="no-class">
      It doesn't look like there are any classes here.<br/>
      Feel free to <a (click)="newClass()">add a class</a>
    </ion-content>
  </ion-item>

  <ion-content *ngIf="this.classes && this.classes.length > 0" class="class-wrapper">
    <ion-item *ngFor="let cls of classes" lines="none">
      <ion-item class="class" >
        <p class="code">{{cls.code}} {{cls.type}}</p>
        <p class="info">
          {{convert24to12(cls.startTime)}} - {{convert24to12(cls.endTime)}}<br />
          {{daysToString(cls.day)}}<br />
          Room: {{cls.room}}
        </p>
        <ion-icon name="create" slot="end" (click)="editClass(cls)"></ion-icon>
        <ion-icon name="trash" slot="end" (click)="deleteClass(cls)"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newClass()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="this.waiting">
  <ion-item id="spinner" lines="none">
    <ion-spinner></ion-spinner>
  </ion-item>
</ion-content>
